body{
    background-color: #eee;
}

#home{
    text-align: center;
    border: 2px solid black;
    padding: 14px;
    background-color: #eee;
}

img{
    height: 65px;
}

input{
    height: 35px;
    width: 250px;
    border-radius: 12px;
    padding: 5px;
    outline: none;
    font-weight: 700;   
}

button:hover{
    background-color: lime;
}

button{
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background-color: dodgerblue;
    box-shadow: 4px 4px 5px black;
    font-size: larger;
    font-weight: 600;
}

a:hover{
    color: green;
}

a{
    text-decoration: none;
}

h3{
    text-align: center
    ;
}